[project]
	description = Kubernetes integration for Firmament
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group poseidon-owners
	owner = group user/Malte Schwarzkopf (ms705)
[access "refs/for/refs/*"]
	read = group poseidon-owners
	read = group user/Malte Schwarzkopf (ms705)
	push = group poseidon-owners
	push = group user/Malte Schwarzkopf (ms705)
	label-Code-Review = -2..+2 group poseidon-owners
	label-Code-Review = -2..+2 group user/Malte Schwarzkopf (ms705)
	label-Verified = -1..+1 group poseidon-owners
	label-Verified = -1..+1 group user/Malte Schwarzkopf (ms705)
	rebase = group poseidon-owners
	rebase = group user/Malte Schwarzkopf (ms705)
	removeReviewer = group poseidon-owners
	removeReviewer = group user/Malte Schwarzkopf (ms705)
	submit = group poseidon-owners
	submit = group user/Malte Schwarzkopf (ms705)
[access "refs/heads/*"]
	read = group poseidon-owners
	read = group user/Malte Schwarzkopf (ms705)
	create = group poseidon-owners
	create = group user/Malte Schwarzkopf (ms705)
	push = group poseidon-owners
	push = +force group user/Malte Schwarzkopf (ms705)
	pushMerge = group poseidon-owners
	pushMerge = group user/Malte Schwarzkopf (ms705)
[access "refs/tags/*"]
	push = group poseidon-owners
	push = +force group user/Malte Schwarzkopf (ms705)
	pushTag = group poseidon-owners
	pushTag = group user/Malte Schwarzkopf (ms705)
	pushSignedTag = group poseidon-owners
	pushSignedTag = group user/Malte Schwarzkopf (ms705)
